{{ $baseurl := .Site.BaseURL }}

{{ partial "header.html" . }}
<div class="posts">
  <h2>{{ .Title }}</h2>
  {{ range .Paginator.Pages.ByPublishDate }}
  <article class="post-box">

    <header class="post-header">
      <h1><a href="{{.RelPermalink }}">{{ .Title }}</a></h1>
    </header>

    <div class="post-after">
      <div class="tags">
        {{ range .Params.tags }}
        <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </div>
    </div>
  </article>
  {{ end }}
</div>
{{ partial "pagination.html" . }}
<div class="push"></div>
</div>
</div>
{{ partial "footer.html" }}
</div>
</div>
