<!DOCTYPE html>
<html lang="en">
  <head>
		<title>{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
		<meta name="description" content="{{ .Site.Params.Description }}">
		<meta name="keywords" content="{{ .Site.Params.Keywords}}">

    {{ partial "meta.html" . }}  
    {{ partial "includes.html" . }}
    <link rel="shortcut icon" href="/images/favicon.ico"> 
    <link rel="apple-touch-icon" href="/images/favicon.ico">
    <link rel="canonical" href="{{ .Permalink }}">
    <!-- atom & rss feed -->
    <link href="/rss.xml" type="application/atom+xml" rel="alternate" title="{{ .Site.Title }}">    
  </head>

  <body>    

<div class="page">
    {{ partial "menu.html" . }}
