
    <link href="/css/milk.min.css" rel="stylesheet">
    <link href="/css/fonts.css" rel="stylesheet" type="text/css" media="all">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href="/css/style.css"rel="stylesheet" media="all"/>
		<link media='screen and (max-width: 700px)' rel='stylesheet' href='/css/mobile.css' />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/js/command.js"></script>
